.content-div{
    flex: 1;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.create-content-div{
    width: 800px;
    height: fit-content;
    min-height: 500px;
    background: #24292e;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

.header-title{
    color: white;
    font-size: 25px;
    font-weight: 500;
    font-family: Inter;
    width: 100%;
    margin-left: 20px;
    text-align:left;
    margin-top: 20px;
}

.create-content-content-div{
    margin-left: 20px;
    display: flex;
    margin-right: 60px;
}

.create-content-footer{
    flex: 1;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: center;
    align-items: flex-end
} 